body {
    width: 100%;
    height: auto;
    background-image: url(images/erasnye-lochnye-igrushki-v-forme-serdca.jpeg);
}
.conteiner {
    padding: 40px;
    max-width: 700px;
    margin: 40px auto;
    border-radius: 4px;
    background-color: rgba(237, 152, 5, 0.883);
    text-align: center;
}

#button {
    background: #1f4513a9;
    border: 2px solid #1f4513;
    border-radius: 7px;
    width: auto;
    height: 55px;
    font-size: 25px;
    line-height: 18px;
    text-align: center;
    color: black;
}

.card {
    padding: 30px;
    max-width: 400px;
    margin: 40px auto;
    border-radius: 2px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    color: black;
    
}